.TeamPhoto {
    flex: 0 0 25%;
}

.TeamPhoto-wrapper {
    margin: 0.625rem;
    position: relative;
}

.TeamPhoto-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.TeamPhoto-detail {
    padding: 0.625rem;
    background: rgba(20, 33, 61, 0.75);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.TeamPhoto-name {
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.TeamPhoto-post {
    font-weight: 400;
    font-size: 0.9375rem;
    color: #FFFFFF;
    margin-top: 0.25rem;
}